:root {
  --bg-default: #ffffff;
  --bg-subtle: #f6f8fa;
  --bg-inset: #f6f8fa;
  --bg-emphasis: #1f2328;
  --bg-accent: #ddf4ff;
  --bg-accent-emphasis: #0969da;
  --bg-success: #dafbe1;
  --bg-success-emphasis: #1f883d;
  --bg-success-hover: #1c8139;
  --bg-attention: #fff8c5;
  --bg-attention-emphasis: #bf8700;
  --bg-severe: #fff1e5;
  --bg-severe-emphasis: #bc4c00;
  --bg-danger: #ffebe9;
  --bg-danger-emphasis: #cf222e;
  --bg-danger-hover: #a40e26;
  --bg-done: #fbefff;
  --bg-done-emphasis: #8250df;
  --bg-sponsors: #ffeff7;
  --bg-sponsors-emphasis: #bf3989;
  --bg-open: #dafbe1;
  --bg-open-emphasis: #1f883d;
  --bg-closed: #ffebe9;
  --bg-closed-emphasis: #cf222e;
}
