:root {
  --fg-default: #1f2328;
  --fg-muted: #656d76;
  --fg-subtle: #6e7781;
  --fg-disabled: #8c959f;
  --fg-accent: #0969da;
  --fg-success: #1a7f37;
  --fg-danger: #d1242f;
  --fg-attention: #9a6700;
  --fg-severe: #bc4c00;
  --fg-done: #8250df;
  --fg-sponsors: #bf3989;
  --fg-open: #1a7f37;
  --fg-closed: #cf222e;
  --color-highlight: #0969da;
}