.wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--font-body-medium);

  a {
    text-decoration: none;
    color: var(--fg-color-default);
    letter-spacing: -0.15px;
  }

  span {
    color: #636c76;
  }
}

.currentPage {
  font-weight: 700;
}