.wrapper {
  display: flex;
  align-items: center;
  border-radius: 0px;
  font-size: var(--font-body-small);
  font-weight: 600;
  line-height: 14.2;
  letter-spacing: 0.15px;
  max-width: 81.75rem;
  border: none;
  box-shadow: 0 1px 0 0 rgba(32, 31, 35, 0.06);
}

.primary {
  color: #fff;
  border: 1px solid #1f883d;
  background: var(--bg-success-emphasis);
}

.secondary {
  color: #24292f;
  border: 1px solid #d0d7de;
  background: var(--bg-inset);
}

.danger {
  color: var(--fg-danger);
  border: 1px solid #d0d7de;
  background: var(--bg-inset);
}

.invisible {
  color: var(--fg-accent);
  background: transparent;
  border: none;
  box-shadow: none;
}
